:root {
    --body-bg-color: #fff5f5;
    --body-color: #f59f00;
    --body-line-height: 1.5;
    --button-font-size: var(--fonts-4);
    --button-padding: 1rem;
    --component-padding: 1rem;
    --button-font-weight: var(--font-weight-bold);
    --button-border-width: 0.125rem;
    --component-primary: #f59f00;
    --code-font-size: var(--fonts-4);
    /* --link-color: var(--gray-9); */
    --headings-font-weight: 200;
    --headings-line-height: 1.25;
    --h1: var(--fonts-9);
    --h2: var(--fonts-8);
    --h3: var(--fonts-7);
    --h4: var(--fonts-3);
    --h5: var(--fonts-2);
    --h6: var(--fonts-1);
    --component-border-radius: 0;
    --font-system: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --font-serif: 'Bitter', Geneva, serif;
}

i, .i, [i] {
  font-family: var(--font-serif);
  font-style: italic;
}

@media screen and (max-width: 48rem) {
    :root {
      --h1: var(--fonts-7);
      --h2: var(--fonts-6);
      --h3: var(--fonts-5);
    }
}